{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Schedule an Exam or Task</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Course</label>
              <select name="course" class="custom-select">
                {% for course in courses %}
                <option value="{{ course.id }}">{{ course.course_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Exam Type</label>
              <select name="exam_type" class="custom-select">
                <option value="CT">Class Test</option>
                <option value="ASSIGNMENT">Assignment</option>
                <option value="QUIZ">Quiz</option>
                <option value="LAB">Lab Exam</option>
                <option value="VIVA">Viva</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row align-items-end">
          <div class="col-md-6">
            <div>
              <label class="form-label">Date and Time</label>
              <input type="datetime-local" name="scheduled_date" class="form-control" required>
            </div>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Add Schedule</button>
          </div>
        </div>

        

        
      </form>
    </div>
  </div>
</div>
{% endblock %}