{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h3>Set Mark Distribution</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="course">Course:</label>
      <select name="course" id="course" class="form-control" required>
        <option value="">-- Select Course --</option>
        {% for course in courses %}
          <option value="{{ course.id }}">{{course.course_code}} - {{ course.course_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>CT Weight (%)</label>
      <input type="number" step="0.01" name="ct_weight" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Attendance Weight (%)</label>
      <input type="number" step="0.01" name="attendance_weight" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Final Exam Weight (%)</label>
      <input type="number" step="0.01" name="final_exam_weight" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save Distribution</button>
  </form>
</div>
{% endblock %}
