{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="card p-4">
    <h4>All Courses</h4>
    <table class="table table-bordered" id="courseList">
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Credit</th>
          <th>Semester</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td>{{ course.course_code }}</td>
          <td>{{ course.course_name }}</td>
          <td>{{ course.credit }}</td>
          <td>{{ course.semester }}</td>
          <td>{{ course.department }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
